---
---

@import "minima";

$gray: rgba(0, 0, 0, 0.6);
$dark-gray: rgba(0, 0, 0, 0.8);
$dark-taupe: rgba(66, 61, 54, 1);
$slate-gray: rgba(93, 115, 127, 1);
$sky-blue: rgba(110, 201, 255, 1);

body {
  font-family: "Cantarell", serif;
  font-size: 1.25rem;
  line-height: 2rem;
  color: $dark-taupe;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.0rem;
    line-height: 1.8rem;
  }
}

.site-header {
  font-size: 1.15rem; // smaller nav links
  border-top: none;
}

.site-title {
  text-transform: lowercase;
}

.post-title {
  font-size: 2rem; // smaller titles
  line-height: 2rem; // better on mobile when title wraps
}

h1, h2, h3, h4, h5, h6 {
  line-height: 2.8rem;
}

h2 {
  font-size: 1.5rem; // smaller headings
}


// Default quotes are too light, darken
blockquote {
  color: $gray;
  border-left: 5px solid $gray;
}

// Fat link underlines [
a, a:hover, a:visited {
  text-decoration: none;
  color: $dark-gray;
}

a {
  border-bottom: 3px solid;
  border-color: $sky-blue;
}

a:hover, a:visited {
  border-color: $slate-gray;
}

.site-header a, .home .post-list a {
  border: none;
}
// ]

.highlight {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.25rem; // less spacing
}

footer {
  a:hover .username {
    text-decoration: none !important;
  }

  a {
    border-bottom: 0;
  }
}
